@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  overscroll-behavior: none;
  -webkit-tap-highlight-color: transparent;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.03rem;
  user-select: none;
}

div::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  outline: none;
}

button {
  cursor: pointer;
}